* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}
html,
body,
#container {
  height: 100%;
}
body {
  font-family: "Space Mono", sans-serif;
}
#container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 375px) {
  #container {
    max-width: 375px;
    display: block;
    padding: 0;
  }
}
#container #page {
  width: 960px;
  background-color: hsl(185, 41%, 84%);
  padding: 10%;
}
@media screen and (max-width: 375px) {
  #container #page {
    max-width: 375px;
    display: block;
    padding: 0;
    padding-top: 30px;
    height: 100%;
  }
}
#container #page .logo {
  text-align: center;
  margin-bottom: 40px;
}

#container #page #form {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}
@media screen and (max-width: 375px) {
  #container #page #form {
    display: block;
    border-radius: 15px;
    padding: 15px 10px;
    height: 100%;
  }
}
#container #page #form > div {
  width: 50%;
  margin: 20px;
}
@media screen and (max-width: 375px) {
  #container #page #form > div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
#container #page #form .para .bill,
#container #page #form .para .people {
  width: 100%;
  position: relative;
}
#container #page #form .para .bill h6,
#container #page #form .para .tips h6,
#container #page #form .para .people p {
  font-size: 10px;
  font-weight: 400;
  color: hsl(184, 14%, 56%);
  margin-bottom: 5px;
}
#container #page #form .para .bill img,
#container #page #form .para .people img {
  position: absolute;
  top: 29px;
  left: 8px;
  width: 7px;
  height: 10px;
}

#container #page #form .para .people img {
  top: 29px;
}
#container #page #form .para .bill #bill-field,
#container #page #form .para .people #num-of-people {
  border: none;
  outline: none;
  background-color: hsl(189, 41%, 97%);
  font-size: 18px;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
  text-align: right;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
}

#container #page #form .para .bill #bill-field:hover,
#container #page #form .para .people #num-of-people:hover {
  border: 1px solid hsl(172, 67%, 45%);
  cursor: pointer;
}
#container #page #form .para .tips input,
#container #page #form .para .tips .percent {
  text-align: center;
  border: none;
  outline: none;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  width: 25%;
  padding: 5px;
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 4px;
}
@media screen and (max-width: 375px) {
  #container #page #form .para .tips input {
    width: 35%;
  }
}
#container #page #form .para .tips .percent:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
#container #page #form .para .tips input:last-child {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  text-align: center;
}
#container #page #form .para .tips input:last-child:hover {
  color: hsl(183, 100%, 15%);
  border: 1px solid hsl(172, 67%, 45%);
}
#container #page #form #result {
  background-color: hsl(183, 100%, 15%);
  padding: 15px;
  border-radius: 6px;
}
#container #page #form #result > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: -40px;
}
#container #page #form #result > div:first-child {
  margin-bottom: 10px;
}
#container #page #form #result > div div h4 {
  font-size: 12px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}
#container #page #form #result > div div p {
  font-size: 10px;
  font-weight: 400;
  color: hsl(184, 14%, 56%);
}
#container #page #form #result > div div.result p {
  font-size: 16px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}
#container #page #form #result .btn-container {
  margin-top: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#container #page #form #result .btn-container input[type="reset"] {
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  padding: 4px;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  border-radius: 4px;
  cursor: pointer;
}
#container #page #form #result .btn-container input[type="reset"]:hover {
  background-color: hsl(180, 67%, 45%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
